<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CommunityConnect - Landing Page</title>
    <link rel="stylesheet" href="landing%20page.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>CommunityConnect</h1>
            <p>Bringing Communities Together, One Click at a Time!</p>
        </div>
    </header>

    <main>
        <div class="container">
            <h2>Welcome to CommunityConnect!</h2>
            <p>This is where you can find and connect with your local community, discover events, and engage with fellow community members.</p>
        </div>
    </main>

    <footer>
        <div class="container">
            <ul>
                <li><a href="https://www.instagram.com/sophiawhitestylista/" target="_blank">Instagram</a></li>
                <li><a href="https://twitter.com/FaizanAhme65618" target="_blank">Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/adnan-khalid-162794137" target="_blank">LinkedIn</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>